x<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @flat_coordinates %>;
      alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>
<p>Latitude: <%= @flat.latitude %></p>
<p>Longitude: <%= @flat.longitude %></p>


<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=400x400&+markers=color:blue%7Clabel:HH%7C#{@flat.latitude},#{@flat.longitude}&key=AIzaSyDrMeJZngrZ3D70v71lDek_Jw1M5L4WkAk" %>
