    <!-- Code your banner HTML here -->
    <div class="banner">
      <div class="home-title">
        <h1>Welcome to Hut Hunters</h1>
        <h2>Experiment big things in small things</h2>
      </div>

      <div class="searchform">
        <%= render "searchform" %>
      </div>
    </div>

    <div class="container"><br>
      <p class="card-title">Explore the world</p>
      <p class="card-subtitle">Discover amazing huts</p><br>
    </div>

    <div class="container">
      <div class="row">
      <% @flats.each do |flat| %>
      <div class="col-xs-12 col-md-6">

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= flat.images[0].photo if flat.images[0] != nil %>);">
            <div class="card-category">
              <%= flat.city %>
            </div>
            <div class="card-description">
              <h2><%= flat.title %></h2>
              <p><%= flat.address %></p>
            </div>
            <%= link_to "", flat_path(flat), class: "card-link" %>
            <%= image_tag flat.user.picture  , class: "card-user avatar" %>
          </div>

        </div>
        <% end %>
      </div>
    </div>








