
<% if current_user == nil %>
<% elsif @flat.user.id == current_user.id %>
<div class="modify">
  <%= link_to "Edit Hut", edit_flat_path(@flat), class: "btn btn-default" %>
  <%= link_to "Edit Image(s)", new_flat_image_path(@flat), class: "btn btn-default" %>
</div>
<% end %>



<div class="banner_detail" style="background-image: url(https://media.giphy.com/media/V8oovAwCDG02A/giphy.gif);">

  <div class="banner-content">
    <span class=detail-title>Details about your selection</span>
  </div>
</div>

<div class="container" >
  <div class="row" id="avatar_row">
    <div class="col-xs-2 col-xs-offset-2 text-center" id = "avatar_column" style= "" >
      <br><br>
      <%= image_tag @flat.user.picture  , id: "avatar-large" %>
    </div>

    <div class="col-xs-8 text-center" id ="avatar_column" style= "" >
      <h3>
        <%= @flat.title %>
      </h3>
      <p>
        <%= @flat.city %>, <%= @flat.address %>
      </p>
    </div>
  </div>
</div>


<div class="container" >

  <div class="row_icons" >

    <div class="col-xs-1 col-xs-offset-2 col-sm-3 text-center icon">
      <i class="fa fa-home" style="font-size: 200%"></i>
      <p>Capacity:</p>
    </div>

    <div class="col-xs-1 col-sm-2 text-center icon">
      <i class="fa fa-users" style="font-size: 200%"></i>
      <p>Shared:</p>
    </div>

    <div class="col-xs-1 col-sm-3 text-center icon">
     <i class="fa fa-bed" style="font-size: 200%"></i>
     <p>Beds:</p>
   </div>

  </div>
</div>

<hr>

<div class="container" >
  <div class="row" >
    <div class="col-xs-10 col-xs-offset-1">
      <div class="small-title">Hut description</div>
      <p><%= @flat.description %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>


<div class="bs-example">
  <div class="container text-center">
    <div class="row">
      <% @flat.images.each do |flat| %>
      <div class="col-xs-12 col-md-6" style="margin-bottom: 40px">

        <%= cl_image_tag flat.photo, height: 300, width: 400, crop: :fill  %>

      </div>
      <% end %>
    </div>

    <% if current_user == nil %>
    <% elsif @flat.user.id == current_user.id %>
    <%= link_to "Edit image(s)", new_flat_image_path(@flat), :class => "submit-btn" %>
    <% end %>

    <div>
    <br>
      <%= render 'bookings/form' %>
    </div>

    <div>
    <br>
      <%= render 'flats/geomap' %>
    </div>

  </div>
</div>


