<div>
  <%= simple_form_for [ @flat, @booking ] do |f| %>
  <div class="media">
    <div class="media-body">
      <div class="media-section">
        <h2>Your travel dates </h2>
        <div>
          <%= f.input :start_date, input_html: { class: 'form-control input-lg date-input' } %>
          <%= f.input :end_date, input_html: { class: 'form-control input-lg date-input' } %>
          <%= hidden_field_tag :guests, @guests %>
        </div>
      </div>
      <div class="media-aside">
        <div class="media-section">
          <h2>Pricing</h2>
          <div class="total" >
             <% entry = Date.parse(@booking.start_date.to_s) %>
             <% exit = Date.parse(@booking.end_date.to_s) %>
             <% days = (exit - entry).to_i %>
             <p> <%= @flat.price %> € x <%= days %> nights = <%= @flat.price * days %> €</p>
             <p> Cleaning service: 8 € </p>
             <p> Service fee : 7 € </p>
          </div>
          <div>
          <p> Total = <strong><%= (@flat.price * days) + 7 + 8  %> € </strong></p>
          </div>

        </div>
        <div class="media-section">
          <%= f.button :submit, "Book !", class: 'btn btn-danger btn-lg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

