
<div class="container text-center">
<h2>Your booking was successful.</h2>
<br>
<h3> Booking from <%= @booking.start_date %> to <%=@booking.end_date %> in
the <%= @booking.flat.title %> , <%= @booking.flat.city %>  < </h3>
<br>

<h2>I have a pleasant stay ! :) </h2>

<div class="banner_detail" style="background-image: url(https://media.giphy.com/media/V8oovAwCDG02A/giphy.gif);">
</div>

</div>

<!--
(guests: <%= @booking.guests %>) TO ADD as  -->
