
<div class="container text-center">
<span class="booking-title">Your booking was successful!</span>
<br><br>
<span class="booking-text-color">Booking from </span><span class="booking-text-black"><%= @booking.start_date %></span><span class="booking-text-color"> to </span><span class="booking-text-black"><%=@booking.end_date %></span><br>
<span class="booking-text-color">in the </span><span class="booking-text-black"><%= @booking.flat.title %></span><span class="booking-text-color">, </span><span class="booking-text-black"><%= @booking.flat.city %><br><br></span>

<div class="booking-subtitle">Have fun!<br><br></div>

<div class="banner_detail" style="background-image: url(https://media.giphy.com/media/V8oovAwCDG02A/giphy.gif);">
</div>

</div>

<!--
(guests: <%= @booking.guests %>) TO ADD as  -->
